.ContactBody {
    display: flex;
    /* position: relative; */
    padding-top: 62px;
    min-height: 100%;
    background: url("../images/landing-background.jpg") no-repeat center fixed;
    background-size: cover;
    margin: none;
}

.content {
    position: relative;
    width: 70%;
    text-align: center;
    vertical-align: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    background-color: lightgray;
    opacity: .9;
}

.ContactText {
    position: relative;
    font-size: 18pt;
    color: #333;
}