.ContactBody {
    /* display: flex;*/
    /* position: relative; */
    padding-top: 62px;
    min-height: 100%;
    width: 100%;
    background: url("../images/landing-background.jpg") no-repeat center fixed;
    background-size: cover;
    margin: none;
}

.Project{
    background-color: white;
    width: 100vh;
    margin: auto;
    margin-top: 20vh;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.Project h1{
    text-align: center;
}

.Project li p {
    color: #333;
    font-size: 18pt;
}

.Person{
    background-color: white;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;  
}
.Person h1{
    text-align: center;
}

.Person li p {
    color: #333;
    font-size: 18pt;
}
