
.flex_container{
    padding-top: 62px;
    min-height: 100vh;
    display: flex
}

.results_btn {
  width: 100%;
  /*float:left; /* add this */
  border: 1px solid black;
  /*overflow: auto;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  /* Add shadows to create the "card" effect */
  background: no-repeat;
  box-shadow: 5px 5px 8px rgba(0,0,0,0);
  transition: 0.3s;
  padding: 2px 16px;
  width: 33%;
  height: 50vh;
}

.card h4 {
  background-color: black;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
