.Recipe-component {
    /* background: rgb(83, 83, 83); */
    min-height: 100%;
    min-height: 100vh;
    background: #343a40c2;
}

.Recipe-component h1 {
    font-size: 5rem;
    color: white;
}

.Recipe-component h2, li, p {
    color: white;
}