.flex_container {
  padding-top: 62px;
  min-height: 100vh;
  display: flex;
}

.search_results_wrapper {
  width: 25%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  background-color: grey;
}
.results_btn {
  width: 100%;
  /*float:left; /* add this */
  border: 1px solid black;
  overflow: auto;
}

.search_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search {
  border: 1px solid black;
  width: 90%;
  overflow: auto;
}

.output {
  background: no-repeat;
  background-attachment: fixed;
  background-position-x: 76%;

  background-color: darkgray;
  width: 75%;
}

.output h1 {
  position: fixed;
  width: 75%;
  text-align: center;
  background-color: grey;
  color: black;
}

.ingredients {
  background-color: grey;
  color: black;
  float: left;
}

.measurements {
  background-color: grey;
  color: black;
}
.go_btn {
  background: rgb(27, 230, 105);
  border-radius: 0 var(--rad) var(--rad) 0;
}

type.button {
  border: 1px solid black;
}

.link {
  color: black;
}

@media (max-width: 990px) {
  .search_form,
  .output {
    display: none;
  }
  .search_results_wrapper {
    width: 100%;
  }
  @media (max-width: 767px) {
    .results_btn {
      width: 100vw;
      margin-top: 125px;
    }
  }
  @media (min-width: 768px) {
    .results_btn {
      width: 100vw;
      margin-top: 150px;
    }
  }
}
