.flex_container{
    display: flex
}

.search_results_wrapper {
    width: 25%;
    border: 1px solid black;
    overflow: hidden; 
    background-color: grey;
}
.results_btn {
    width: 100%;
    /*float:left; /* add this */
    border: 1px solid black;
    overflow: scroll;
}


.search_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search {
    border: 1px solid black;
    width: 90.9%;
    overflow: auto; 
}


.output {
    background-image: url(../images/landing-background.jpg);
    width: 75%;
  }

.output h1{
    text-align: center;
    background-color: grey;
    color: black;
}

.ingredients{
    background-color: grey;
    color: black;
    float: left;
}

.measurements{
    background-color: grey;
    color: black;
}

type.button{
    border: 1px solid black;
}
